$switch-radius: 25px;
$switch-paddle-radius: 15px;
$switch-background-active: #b0145b;

$button-radius: 25px;
$button-background: #FFF;
$button-background-hover: #b0145b;
$button-color: #cf729c;

$input-background: #b0145b;
$input-background-focus: #b0145b;
$input-shadow: none;
$input-shadow-focus: none;
$input-border: 0px solid #FFF;
$input-border-focus: 0px solid #FFF;
$input-color: #FFFFFF;
$input-placeholder-color: #d6d6d6;
$input-radius: 25px;

$grid-row-gutter: 10px;
$grid-column-gutter: 0px;

$dropdownmenu-arrow-size: 10px;